* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eaf2f8;
}

.container {
    width: 90%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #1a5276;
    margin-bottom: 25px;
}

button {
    display: block;
    margin: 0 auto 30px;
    padding: 12px 25px;
    font-size: 16px;
    background: #1a5276;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #154360;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ccd1d1;
}

th {
    background: #2874a6;
    color: white;
    padding: 15px;
    text-align: center;
}

td {
    padding: 13px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f4f8fb;
}

tr:hover {
    background: #d6eaf8;
}

td:last-child {
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 8px 4px;
    }

    button {
        width: 100%;
    }
}